<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>T&iacute;tulo original:</b> Sachiiro no One Room (幸色のワンルーム)<br/><b>Guion:</b> <a href="autor.php?id=2574">Hakuri</a><br/><b>Dibujo:</b>
<a href="autor.php?id=2574">Hakuri</a><br/><b>Traducci&oacute;n:</b> Olinda Cordukes<br><b>Editorial japonesa:</b> <a
    href="editorial_origen.php?id=29">Square Enix</a> <a href="http://www.square-enix.com/jp/" target="_blank"> <i
    class="fas fa-globe"></i></a><br/><b>Editorial espa&ntilde;ola:</b> <a href="editorial.php?id=43">ECC Ediciones</a>
<a href="http://www.eccediciones.com/" target="_blank"> <i class="fas fa-globe"></i></a> <a
    href="https://www.facebook.com/ECCEdiciones" target="_blank"> <i class="fab fa-facebook"></i></a> <a
    href="https://twitter.com/eccediciones" target="_blank"> <i class="fab fa-twitter"></i></a> <a
    href="https://www.instagram.com/eccediciones" target="_blank"> <i class="fab fa-instagram"></i></a> <a
    href="https://www.youtube.com/user/CanalECCEdiciones" target="_blank"> <i class="fab fa-youtube"></i></a><br/><b>Colecci&oacute;n:</b>
<a href="coleccion_editorial.php?id=220">Manga</a><br/><b>Formato:</b> Tomo B6 (128x180) rústica (tapa blanda) con
sobrecubierta<br/><b>Sentido de lectura:</b> Oriental<br/><b>N&uacute;meros en japonés:</b> 11 (serie completa)<br/><b>N&uacute;meros
    en castellano:</b> 11 (serie completa)</td></tr></table></td></tr>
<tr>
    <td class="separacion"></td>
</tr>
</table>

</body>
</html>
